@charset "UTF-8";
body{
    color:#666666;
    font-family: sans-serif;
    min-height: 100%;
}
.login
{
    background:rgba(0,0,0,0) url('../images/login-blurry-bg.jpg') no-repeat scroll center center / cover;
    padding:0;
    position: relative;
}
.login-wrap
{
    height: 100%;
    width: 100%;
}
body.login .login-container{
    background-color: rgba(255,255,255,0.95);
    border-radius: 40px;
    border-shadow:0 0 50px rgba(0,0,0,0.2);
    height: 380px;
    left:50%;
    margin:-190px 0 0 -190px;
    padding:30px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 1s ease 0.5s;
    width: 380px;
}
body.login .login-container.active{
    opacity: 1;
}
