@charset "UTF-8";
body{
	margin: 0;
	/*padding: 0;*/
	background-color: #FFFFFF;
	font-size: 14px;
	font-family: sans-serif;
	min-height: 100%;
}
.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}
.wrap >.container{
	padding-top: 70px;
}
.wrap >.container-fluid
{
	padding-top: 70px;
}
.activeMenu{
	background-color: #afd9ee;
}
